<%- include('partials/header'); -%>
<h1>Home</h1>
<p> <%= homeContent %> </p>

<%# Looping through Array of Posts %>
<% postsArray.forEach(post => { %>
<h1> <%= post.title %> </h1>
<%# Truncating post body for 100 chars %>
<p> <%= post.content.substring(0,100) + ' ...' %> </p>
<% }) %>

<%- include('partials/footer'); -%>